*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 2rem;
}

header{
    text-align: center;
}

section{
    display: flex;
    align-content: stretch;
    width: 100%;
    height: 100vh;
}

.lists{
    display: flex;
    flex-direction: column;
    background: rgb(220, 220, 220);
    color: rgb(38, 38, 38);
    width: 25%;
}

.lists header{
    padding: 1rem;
    background: rgb(220, 20, 60);
    color: white;
    box-shadow: 0 5px 10px black;
    margin-bottom: 10px;
}

.list{
    display: flex;
    padding: .3rem;
    font-size: 1rem;
    cursor: pointer;
}

.list.active{
    background: rgba(101, 230, 217, .3);
}

.list p{
    padding: .5rem;
    flex: 1;
}

.list span{
    padding: .5rem;
    cursor: pointer;
}

.lists input{
    margin: .3rem;
    padding: .4rem;
    font-size: 1rem;
    border: node;
}

.input-group{
    background: white;
    display: flex;
    margin: .3rem;
}

.input-group input{
    padding: .5rem;
    border: node;
    border-color: transparent;
    font-size: 1rem;
}

.input-group input:first-child{
    flex: 1;
}

.star{
    visibility: hidden;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin: .7rem .4rem;
    margin-bottom: 0;
    cursor: pointer;
}

.star:before{
    content: "\2606";
    position: absolute;
    visibility: visible;
}

.star:checked:before{
    content: "\2605";
    position: absolute;
}

.todos{
    display: flex;
    flex-direction: column;
    background: rgb(93, 9, 26);
    color: rgb(38, 38, 38);
    width: 75%;
}

.todos header{
    color: white;
    padding: .8rem;
    font-size: 1rem;
}

.completed{
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(64, 64, 64);
    background-color: rgb(204, 204, 204);
    padding: .5rem;
    margin: .3rem;
    margin-top: .6rem;
}

.todo{
    display: flex;
    background: white;
    margin: .3rem;
    margin-bottom: 0;
    padding: .5rem;
    font-size: 1rem;
}

.todo input{
    cursor: pointer;
    margin-right: .3rem;
}

.todo span{
    margin-left: .3rem;
    cursor: pointer;
}

.todo span:nth-child(3){
    margin-left: auto;
}

.done{
    display: flex;
    background: rgb(204, 204, 204);
    color: rgb(64, 64, 64);
    margin: .3rem;
    margin-bottom: 0;
    padding: .5rem;
    font-size: 1rem;
}

.done input{
    margin-right: .3rem;
}

.done span{
    margin-left: auto;
    color: gray;
}
